<section id="podcast">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2>Podcast Bölümlerİ</h2>
					<hr class="star-primary">
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 text-center">
					<cf-podcast-list></cf-podcast-list>
					<div class="row">
						<div class="col-lg-12 text-center">
							<h2>KISA KISA</h2>
							<hr class="star-primary">
						</div>
					</div>
					<cf-podcast-list-short></cf-podcast-list-short>
				</div>
			</div>
		</div>
	</section>